/** Solamente se puede modificar este fichero! Usa con astucia los selectores para aplicar las propiedades CSS adecuadas dependiendo del caso  */

.published-date {
    color:#F77D00;
}

.menuejercicio {
    background-color:#F77D00;
}

h4 {
    text-align: center;
}

.logos-social-networks {
    justify-content: center;
}